.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%; /* The side extra scroll is due to this*/
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  border-radius: 10px;
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  font-weight: 600;
  font-size: medium;
  background: #55d6e7;
  border: 1px solid;
  margin-top: 10px;
  border-color: #4bd3a6 #29a1b1 #0b755e;
  color: #111;
  cursor: pointer;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  /* width: 100%; */
  height: 100px;
  margin-bottom: 15px;
}
